[submodule "HW/Library"]
	path = HW/Library
	url = https://github.com/HandHeldLegend/HHL-KiCad-Lib
[submodule "FW/lib/HOJA-LIB-RP2040"]
	path = FW/lib/HOJA-LIB-RP2040
	url = https://github.com/HandHeldLegend/HOJA-LIB-RP2040
