
HW/Main/UGC_Main-backups/
HW/SubStick/UGC_SubStick-backups/
HW/Trigger/UGC_Trigger-backups/
HW/USBC/UGC_USBC-backups/
HW/Main-r3/UGC_Main-backups/

HW/Main_R4/UGC_Main-backups/

HW/Main_R4/UGC_Main_R4-backups/

HW/MechTrigger_R4/UGC_MechTrigger-backups/

HW/Socket_Trigger_Test/socket_test-backups/

HW/SubStick_R4/UGC_SubStick-backups/

HW/Main_R4K/sym-lib-table

HW/Main_R4K/fp-lib-table

HW/Main_R4K/fp-info-cache

HW/Main_R4K/UGC_Main_R4K-backups/

HW/MechTrigger_R4K/fp-info-cache

HW/MechTrigger_R4K/fp-lib-table

HW/MechTrigger_R4K/sym-lib-table

HW/MechTrigger_R4K/UGC_MechTrigger_R4K-backups/

HW/SubStick_R4K/fp-info-cache

HW/SubStick_R4K/fp-lib-table

HW/SubStick_R4K/sym-lib-table

HW/SubStick_R4K/UGC_SubStick_R4K-backups/

HW/Main_S1/UGC_Main_S1-backups/

FW/build/.cmake/

FW/build/.ninja_deps

FW/build/.ninja_log

FW/build/CMakeCache.txt

HW/Socket_Trigger_Test_Solder/socket_test-backups/

HW/Socket_Trigger_Test_Solder/

HW/Main_R5/UGC_Main_R5-backups/

HW/Projects/Main_Prototype/UGC_Main-backups/

HW/Projects/Main_R4K/UGC_Main_R4K-backups/

HW/Projects/Main_R5/UGC_Main_R5-backups/

HW/Projects/Main_S1/UGC_Main_S1-backups/

HW/Projects/SubStick_R5/UGC_SubStick_R5-backups/

HW/Projects/Trigger/UGC_Trigger-backups/
